<div class="offcanvas-wrapper">
    <div class="container padding-top-1x padding-bottom-3x">
        <div class="row">
            <product-detail></product-detail>
            <!-- Start Product Gallery -->
            <div class="col-md-6">
                <div class="product-gallery">
                    1
                    <div class="product-carousel owl-carousel owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                 style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2440px;">
                                <div class="owl-item active" style="width: 488px;">
                                    <div data-hash="one">
                                        <img src="app/template/images/shop/single/01.jpg" alt="Product">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Product Gallery -->
            <!-- Start Product Info -->
            <div class="col-md-6 single-shop">
                <h2 class="padding-top-1x text-normal with-side" id="txtProductName"></h2>
                <span class="h2 d-block with-side" id="txtPrice"></span>
                <p id="txtProductDescription"></p>
                <div class="pt-1 mb-2" id="txtSku">
                    <span class="text-medium">SKU:</span>
                </div>
            </div>
            <div class="col-md-12">
                <hr class="mt-30 mb-30">
                <div class="d-flex flex-wrap justify-content-between mb-30">
                    <div class="entry-share">
                        <span class="text-muted">Paylaş:</span>
                        <div class="share-links">
                            <a class="social-button shape-circle sb-facebook" href="#" data-toggle="tooltip"
                               data-placement="top" title="" data-original-title="Facebook">
                                <i class="socicon-facebook"></i>
                            </a>
                            <a class="social-button shape-circle sb-twitter" href="#" data-toggle="tooltip"
                               data-placement="top" title="" data-original-title="Twitter">
                                <i class="socicon-twitter"></i>
                            </a>
                            <a class="social-button shape-circle sb-instagram" href="#" data-toggle="tooltip"
                               data-placement="top" title="" data-original-title="Instagram">
                                <i class="socicon-instagram"></i>
                            </a>
                            <a class="social-button shape-circle sb-google-plus" href="#" data-toggle="tooltip"
                               data-placement="top" title="" data-original-title="Google +">
                                <i class="socicon-googleplus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="sp-buttons mt-2 mb-2">
                        <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title=""
                                data-original-title="Whishlist">
                            <i class="icon-heart"></i>
                        </button>
                        <button class="btn btn-primary" data-toast="" data-toast-type="success"
                                data-toast-position="topRight" data-toast-icon="icon-circle-check"
                                data-toast-title="Product" data-toast-message="successfuly added to cart!"><i
                                class="icon-bag"></i> Sepete Ekle
                        </button>
                    </div>
                </div>
            </div>
            <!-- End Product Info -->
        </div>
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a class="nav-link active" href="#txtProductAttributes" data-toggle="tab" role="tab">ÖZELLİKLER</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="txtProductAttributes" role="tabpanel">
                </div>
            </div>
        </div>
    </div>
</div>
</div>