<div class="offcanvas-wrapper">
    <div class="container padding-top-1x padding-bottom-3x">
        <div class="row">
            <div class="col-lg-9 order-lg-2">
                <div class="shop-toolbar mb-30">
                    <div class="column">
                        <div class="shop-sorting">
                            <label for="sorting">Sıralama : </label>
                            <select class="form-control" id="sorting">
                                <option>Popüler ürünler</option>
                                <option>Düşükten yükseğe</option>
                                <option>Yüksekten düşüğe</option>
                                <option>Ada göre A-Z</option>
                                <option>Ada göre Z-A</option>
                            </select><span class="text-muted">1 - 10 arası gösteriliyor</span>
                        </div>
                    </div>
                    <div class="column">
                        <div class="shop-view">
                            <a class="grid-view active" href="/#!">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                            <a class="list-view" href="/#!">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="isotope-grid cols-3">
                    <div class="gutter-sizer"></div>
                    <div class="grid-sizer"></div>
                    <category-product>Kategori Ürünleri</category-product>
                </div>
            </div>
            <div class="col-lg-3 order-lg-1 hidden-md-down">
                <aside class="sidebar">
                    <category-filter>Kategori Filtreleri</category-filter>
                </aside>
            </div>
        </div>
    </div>
</div>