<div class="offcanvas-wrapper">

    <slider></slider>

    <newest-product></newest-product>
    <lowest-price-product></lowest-price-product>
    <highest-price-product></highest-price-product>
</div>