<div class="offcanvas-wrapper">
    <div class="container padding-top-1x padding-bottom-3x">
        <div class="row">
            <div class="col-md-12">
                <login-form></login-form>
            </div>
        </div>
    </div>
    <footer class="site-footer">
        <div class="container">
            <!-- Start Footer Info -->
            <div class="row">
                <!-- Start Contact Info -->
                <div class="col-lg-4 col-md-6">
                    <section class="widget widget-light-skin">
                        <h3 class="widget-title">KG BİLGİ İŞLEM TEKNOLOJİ A.Ş.</h3>
                        <p class="text-white"><i class="fa fa-phone"></i> +90 (216) 589 20 16</p>
                        <p class="text-white"><i class="fa fa-envelope-o"></i> info@kgteknoloji.com</p>
                        <p class="text-white"><i class="fa fa-map-marker"></i> Akasya Kent Kule A3 Blok 13. Kat Daire
                            No:25 Üsküdar / İstanbul</p>
                        <ul class="list-unstyled text-sm text-white">
                            <li><span class="opacity-50">Pzt. - Cum. : </span>09:00 - 18:00</li>
                        </ul>
                        <a class="social-button shape-circle sb-facebook sb-light-skin" href="#">
                            <i class="socicon-facebook"></i>
                        </a>
                        <a class="social-button shape-circle sb-twitter sb-light-skin" href="#">
                            <i class="socicon-twitter"></i>
                        </a>
                        <a class="social-button shape-circle sb-instagram sb-light-skin" href="#">
                            <i class="socicon-googleplus"></i>
                        </a>
                        <a class="social-button shape-circle sb-instagram sb-light-skin" href="#">
                            <i class="socicon-instagram"></i>
                        </a>
                    </section>
                </div>
                <!-- End Contact Info -->
                <!-- Start Mobile Apps -->
                <div class="col-lg-4 col-md-6">
                    <section class="widget widget-links widget-light-skin">
                        <h3 class="widget-title">HİZMETLERİMİZ</h3>
                        <ul>
                            <li><a href="#">Global Sadakat Uygulamaları</a></li>
                            <li><a href="#">Proje Yönetimi</a></li>
                            <li><a href="#">Operasyon Destek</a></li>
                            <li><a href="#">Kurumsal Mimari</a></li>
                            <li><a href="#">Sürüm Konfigrasyon Yönetimi</a></li>
                            <li><a href="#">Sistem Entegrasyonu</a></li>
                        </ul>
                    </section>
                </div>
                <!-- End Mobile Apps -->
                <!-- Start About Us -->
                <div class="col-lg-4 col-md-6">
                    <section class="widget widget-links widget-light-skin">
                        <h3 class="widget-title">HAKKIMIZDA</h3>
                        <ul>
                            <li><a href="#">Referanslar</a></li>
                            <li><a href="#">İK</a></li>
                            <li><a href="#">İletişim</a></li>
                        </ul>
                    </section>
                </div>
            </div>
            <!-- End Footer Info -->
            <hr class="hr-light">
            <!-- Start Copyright -->
            <p class="footer-copyright text-center">© 2018 KG Teknoloji | Tüm hakları saklıdır.</p>
            <!-- End Copyright -->
        </div>
    </footer>
</div>